<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Aditya Pawar/git/HP_Sprocket/HP_Sprocket"><classes><class name="testcases.GalleryPageTest"><methods><include name="verifyMainGallery"/><include name="verify_MainGallery"/><include name="verify_MainGallery1"/><include name="verify_Camera_fLash"/></methods></class><class name="testcases.LandingPageTest"><methods><include name="Sign_up"/><include name="verifyILL"/><include name="verify_Login_Btn"/><include name="verifyInvalidEmail"/><include name="verifyInvalidPassword"/><include name="verifyQuicktour_StartBTn"/><include name="verifySignupBt_Login"/><include name="VerifyForgetPassword"/><include name="VerifyForgetPassword_invalidEmail"/><include name="randomEmail"/><include name="SignupForm"/></methods></class></classes></test></suite>