<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Aditya Pawar/IdeaProjects/HP_Sprocket/src">
        <classes><class name="testcases.LandingPageTest">
            <methods><include name="Sign_up"/>
                <include name="login"/>
                <include name="Get_Started_onboarding"/>
            </methods>
        </class>
            <class name="testcases.GalleryPageTest">
                <methods><include name="Delete_user"/></methods>
            </class>
            <class name="testcases.DeleteUserPageTest">
                <methods><include name="Delete_user"/></methods>
            </class>
        </classes>
    </test>
</suite>