<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Aditya Pawar/IdeaProjects/HP_Sprocket">

        <classes>
            <!--<class name="testcases.GalleryPageTest">
                <methods>
                    <include name="Gallery_verify_album"/>
                    <include name="Gallery_verify_image"/>
                    <include name="Verify_Select_Functionality"/>
                    <include name="Verify_Select_Clear"/>
                    <include name="Collage_Btn_functionality"/>
                    <include name="Collage_Img_functionality"/>
                    <include name="Collage_multi_Img_functionality"/>
                    <include name="Verify_Collage_Multi_layoutswitch_Image"/>
                </methods>
            </class>-->
            <class name="testcases.LandingPageTest">
                <methods><include name="Sign_up"/>
                    <include name="login"/>
                    <include name="Ill_Do_it"/>
                    <include name="Get_Started_onboarding"/>
                </methods>
            </class>
            <class name="testcases.DeleteUserPageTest">
            <methods><include name="Delete_user"/>
            </methods>
        </class>
            <!--<class name="testcases.LandingPageTest">
                <methods><include name="Sign_up"/>
                    <include name="login"/>
                    <include name="Ill_Do_it"/>
                    <include name="Get_Started_onboarding"/>
                </methods>
            </class>
            <class name="testcases.ConnectivityTest">
                <methods><include name="Verify_Add_button"/>
                    <include name="Verify_Search_for_printer_popup"/>
                    <include name="Verify_Search_for_printer_list"/>
                    <include name="Verify_Search_for_printer_not_found"/>
                    <include name="Verify_600_STA_printer_Cancel"/>
                    <include name="Verify_600_STA_printer_Close_button"/>
                    <include name="Verify_600_STA_printer_Connection"/>
                    <include name="Verify_600_STA_printer_Connection_loop_for_5"/>
                    <include name="Verify_600_AP"/>
                </methods>
            </class>-->
        </classes>
    </test>
</suite>